Project/DallasPoliceActiveCallsService/DallasPoliceActiveCalls/Service References/DallasPoliceActiveCallsServiceReference/DallasPoliceActiveCallsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DallasPoliceActiveCallsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58333/DallasPoliceActiveCallsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58333/DallasPoliceActiveCallsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58333/DallasPoliceActiveCallsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DallasPoliceActiveCallsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDallasPoliceActiveCallsService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_CreateData_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateData" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_CreateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_UpdateData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_UpdateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_DeleteData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_DeleteData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_GetPriorityGraphValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriorityGraphValues" />
  </wsdl:message>
  <wsdl:message name="IDallasPoliceActiveCallsService_GetPriorityGraphValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriorityGraphValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDallasPoliceActiveCallsService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/GetData" message="tns:IDallasPoliceActiveCallsService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/GetDataResponse" message="tns:IDallasPoliceActiveCallsService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/CreateData" message="tns:IDallasPoliceActiveCallsService_CreateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/CreateDataResponse" message="tns:IDallasPoliceActiveCallsService_CreateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/UpdateData" message="tns:IDallasPoliceActiveCallsService_UpdateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/UpdateDataResponse" message="tns:IDallasPoliceActiveCallsService_UpdateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/DeleteData" message="tns:IDallasPoliceActiveCallsService_DeleteData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/DeleteDataResponse" message="tns:IDallasPoliceActiveCallsService_DeleteData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/GetDetails" message="tns:IDallasPoliceActiveCallsService_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/GetDetailsResponse" message="tns:IDallasPoliceActiveCallsService_GetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriorityGraphValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/GetPriorityGraphValues" message="tns:IDallasPoliceActiveCallsService_GetPriorityGraphValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDallasPoliceActiveCallsService/GetPriorityGraphValuesResponse" message="tns:IDallasPoliceActiveCallsService_GetPriorityGraphValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDallasPoliceActiveCallsService" type="tns:IDallasPoliceActiveCallsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDallasPoliceActiveCallsService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateData">
      <soap:operation soapAction="http://tempuri.org/IDallasPoliceActiveCallsService/CreateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://tempuri.org/IDallasPoliceActiveCallsService/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap:operation soapAction="http://tempuri.org/IDallasPoliceActiveCallsService/DeleteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IDallasPoliceActiveCallsService/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriorityGraphValues">
      <soap:operation soapAction="http://tempuri.org/IDallasPoliceActiveCallsService/GetPriorityGraphValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DallasPoliceActiveCallsService">
    <wsdl:port name="BasicHttpBinding_IDallasPoliceActiveCallsService" binding="tns:BasicHttpBinding_IDallasPoliceActiveCallsService">
      <soap:address location="http://localhost:58333/DallasPoliceActiveCallsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>