Project/DallasPoliceActiveCallsService/DallasPoliceActiveCalls/Service References/DallasPoliceActiveCallsServiceReference/DallasPoliceActiveCallsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DallasPoliceActiveCallsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DallasPoliceActiveCallsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActiveCalls">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveCalls" nillable="true" type="tns:ActiveCalls" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveCalls" nillable="true" type="tns:ArrayOfActiveCalls" />
  <xs:complexType name="ActiveCalls">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beat" type="xs:int" />
      <xs:element minOccurs="0" name="Block" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NatureOfCalls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="ReportingArea" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveCalls" nillable="true" type="tns:ActiveCalls" />
  <xs:complexType name="ArrayOfPriorityGraph">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriorityGraph" nillable="true" type="tns:PriorityGraph" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriorityGraph" nillable="true" type="tns:ArrayOfPriorityGraph" />
  <xs:complexType name="PriorityGraph">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriorityGraph" nillable="true" type="tns:PriorityGraph" />
</xs:schema>